*{margin:0;padding:0;}
body{
    background: url('img/Bg.jpg');
    background-size: cover;
    text-align: center;
    width: 480px;
    height: 300px;
}
.TimeBg{
    /*background: rgba(0,0,0,.75);*/
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    padding-top: 20px;
    width: 480px;
    height: 60px;
}
div{
    position: absolute;
    left: 0;
    bottom: 0;
}
.cdtcover{
    position: absolute;
    width: 600px;
    height: 60px;
    margin: auto 0;
    display: inline-block;
    background: transparent;
    z-index: 10;
}
.cdtcover a{
    display: block;
    width: 600px;
    height: 60px;
    background: transparent;
}
#CDT{
    left: 10px;
    color: #FFF;
    font-size: 1.35em;
    font-weight: bold;
    line-height: 1.5;
    bottom: 300px;
    padding: 5px;
}
